/* Barra cookies */
/* line 3, base/_cookies.scss */
.in-modal .cookies-wrapper {
  overflow: auto;
}

/* line 7, base/_cookies.scss */
.cookies-wrapper {
  display: none;
  padding: 12px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
/* line 19, base/_cookies.scss */
.cookies-wrapper * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 23, base/_cookies.scss */
.cookies-wrapper button {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  /* line 23, base/_cookies.scss */
  .cookies-wrapper button {
    display: block;
    width: 100%;
  }
}

/* line 33, base/_cookies.scss */
.cookies-box {
  max-width: 100%;
  padding: 6px 6px 12px 6px;
  position: absolute;
  margin: 0 auto;
  background-color: white;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
  /* line 33, base/_cookies.scss */
  .cookies-box {
    padding: 12px 12px 24px 12px;
  }

  .float-left {
    float: left;
  }
}

/* line 46, base/_cookies.scss */
.cookies__title {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  font-family: "Kanit", sans-serif;
}

/* line 56, base/_cookies.scss */
.cookies-bar-message {
  display: block;
  float: left;
  margin-bottom: 35px;
  color: #333333;
  font-size: 1em;
  line-height: 20px;
}

@media (min-width: 768px) {
  /* line 65, base/_cookies.scss */
  .cookies-settings-link {
    text-align: right;
  }
}

/* line 71, base/_cookies.scss */
.cookies-settings {
  display: none;
}

@media (min-width: 768px) {
  /* line 75, base/_cookies.scss */
  .cookies-settings-cancel {
    text-align: right;
  }
}

/* line 81, base/_cookies.scss */
.cookie-info {
  display: block;
  padding-left: 30px;
  line-height: 16px;
}

/* line 87, base/_cookies.scss */
.cookies-policy-link {
  padding: 0 6px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
  background-color: #eee;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 87, base/_cookies.scss */
  .cookies-policy-link {
    padding: 0 18px;
  }
}

/* line 102, base/_cookies.scss */
.cookies-bar-know-more {
  color: #9a9a9a;
  font-size: 0.85em;
  line-height: 30px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/* line 108, base/_cookies.scss */
.cookies-bar-know-more:hover {
  color: black;
}

/* line 114, base/_cookies.scss */
.cookies-message p {
  display: none;
}
/* line 118, base/_cookies.scss */
.cookies-message b {
  display: block;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

@media (max-width: 959px) {
  /* line 127, base/_cookies.scss */
  .cookies-bar-message {
    height: auto;
  }

  /* line 131, base/_cookies.scss */
  .cookies-bar-know-more {
    padding-left: 0;
  }
}

.label-cookies{
  padding-left: 10px;
}

/* Barra cookies END */